PUBLIC_API_HOST=127.0.0.1
PUBLIC_API_PORT=47891

DATABASE_FILENAME="./data/livesplit-fellowship.db"

ELECTRON_RENDERER_HOST=127.0.0.1
ELECTRON_RENDERER_PORT=5173

LIVE_SPLITS_HOST=localhost
LIVE_SPLITS_PORT=16834

FELLOWSHIP_LOG_DIRECTORY="C:\Program Files (x86)\Steam\steamapps\common\Fellowship\fellowship\Saved\CombatLogs"